
@{
    ViewBag.Title = "About";
}

<h2>Something About</h2>
<h4>Subtitle about shrek</h4>
<div class="container">
    <div class="row">
        <div class="col-sm-8">
            <h1>Bio</h1>
            <p id="bio">My name is aliyah laba veipi i am in second year of Bcom informttics , it a tough degree but im glad i took it, i hope to improve my coding in the near future and be better. i intend to ocmplete my 3 years and gain some working experience there after </p>
        </div>
        <div class="col-sm-4">
           shrek
            <img src="~/Media/images/" alt="no image" />
            <p>paragraph</p>


        </div>
    </div>
</div>

